In [3]:
#import libs
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
import joblib

In [4]:
# Load the dataset
df = pd.read_csv("SMUsage.csv")

In [5]:
df.head()

   age gender  weather  Place_change        Socialmedia  Time(Hours)  Suguest
0   29      F        0             1  IG, Line, Youtube            1        0
1   28      M        0             1    FB, IG, Twitter            1        1
2   45      M        1             1    IG, FB, Twitter            4        1
3   30      F        1             1         IG, WA, FB            8        1
4   36      F        1             0    IG, FB, Youtube            2        1

In [6]:
df.columns

Index(['age', 'gender', 'weather', 'Place_change', 'Socialmedia',
       'Time(Hours)', 'Suguest'],
      dtype='object')

In [7]:
df.shape

(4000, 7)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           4000 non-null   int64
 1   gender        4000 non-null   object
 2   weather       4000 non-null   int64
 3   Place_change  4000 non-null   int64
 4   Socialmedia   4000 non-null   object
 5   Time(Hours)   4000 non-null   int64
 6   Suguest       4000 non-null   int64
dtypes: int64(5), object(2)
memory usage: 218.9+ KB

In [9]:
df.isnull().any().sum()

0

In [10]:
df.describe().T

               count      mean        std  min   25%   50%   75%   max
age           4000.0  32.93875  13.086111  2.0  24.0  29.0  37.0  83.0
weather       4000.0   0.63150   0.482458  0.0   0.0   1.0   1.0   1.0
Place_change  4000.0   0.59750   0.490463  0.0   0.0   1.0   1.0   1.0
Time(Hours)   4000.0   4.21525   2.637263  1.0   2.0   4.0   6.0  23.0
Suguest       4000.0   0.64250   0.479324  0.0   0.0   1.0   1.0   1.0

In [11]:
df.duplicated().sum()

98

In [20]:
# Separate features and target variable
X = df[['age', 'gender', 'weather', 'Place_change', 'Socialmedia', 'Time(Hours)']]
y = df['Suguest']

In [21]:
# Preprocessing Steps
imputer = SimpleImputer(strategy='mean')
X['age'] = imputer.fit_transform(X[['age']])

scaler = StandardScaler()
X[['age', 'Time(Hours)']] = scaler.fit_transform(X[['age', 'Time(Hours)']])

encoder = OneHotEncoder(sparse=False)
X_encoded = encoder.fit_transform(X[['gender', 'weather', 'Socialmedia']])

X_processed = pd.concat([X[['age']], pd.DataFrame(X_encoded)], axis=1)

label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

C:\Users\ACER\AppData\Local\Temp\ipykernel_13040\4218061600.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['age'] = imputer.fit_transform(X[['age']])
C:\Users\ACER\AppData\Local\Temp\ipykernel_13040\4218061600.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[['age', 'Time(Hours)']] = scaler.fit_transform(X[['age', 'Time(Hours)']])

In [22]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_processed, y_encoded, test_size=0.2, random_state=42)

In [23]:
# Create and train a Random Forest Classifier with tuned hyperparameters
clf = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=42)
clf.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

RandomForestClassifier(max_depth=10, random_state=42)

In [24]:
# Save the trained model
joblib.dump(clf, 'model.pkl')

['model.pkl']

In [25]:
# Make predictions on the test set
y_pred = clf.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [26]:
# Evaluate model performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.625

In [27]:
# Generate a classification report
report = classification_report(y_test, y_pred)
print("Classification Report:")
print(report)

Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.00      0.01       301
           1       0.62      1.00      0.77       499

    accuracy                           0.62       800
   macro avg       0.81      0.50      0.39       800
weighted avg       0.77      0.62      0.48       800

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

# Calculate and plot the accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a classification report
report = classification_report(y_test, y_pred)
print("Classification Report:")
print(report)

# Create a bar plot for accuracy
plt.figure(figsize=(8, 6))
sns.barplot(x=['Accuracy'], y=[accuracy])
plt.title('Model Accuracy')
plt.ylim([0, 1])
plt.show()

# Create a heatmap for the classification report
plt.figure(figsize=(8, 6))
sns.heatmap(pd.DataFrame(classification_report(y_test, y_pred, output_dict=True)).T, annot=True, cmap='YlGnBu')
plt.title('Classification Report')
plt.show()

NameError: name 'accuracy_score' is not defined